/* root */
body {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    display: block;
    padding: 0;
    margin: 0;
}

/* general */
section {
    position: relative;
    width: 100%;
    height: fit-content;

}

div.section-title {
    width: 100%;
    height: 2em;
    padding: 1em 0;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
}

h1.card-title {
    font-weight: 600;
}

/* banner */
section#banner {
    background-image: url('../images/banner-compressed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 4em;
    overflow: hidden;
}

div.banner-decor {
    position: absolute;
    background: #43bbe79a;
    background: -webkit-radial-gradient(ellipse at top right,
            #43bbe7d3 0%,
            #43bbe799 100%);
    background: -moz-radial-gradient(ellipse at top right,
            #43bbe7d3 0%,
            #43bbe799 100%);
    background: radial-gradient(ellipse at top right, #43bbe7d3 0%, #43bbe799 100%);
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 24px 24px #ffffff95, inset -24px -24px 48px 48px #0095ffb9;
    transition: 2s ease;
}

div.banner-decor.one {
    height: 36em;
    width: 36em;
    bottom: -12em;
    left: -20em;

}

div.banner-decor.two {
    height: 8em;
    width: 8em;
    bottom: -8em;
    right: 16em;
}

div.banner-decor.three {
    height: 16em;
    width: 16em;
    top: -6em;
    right: -4em;
}

div.banner-text {
    position: absolute;
    bottom: 1em;
    left: -10em;
    color: #ffffffd5;
    text-shadow: 0 0 16px #ffffff83;
    z-index: 50;
    transition: 2s ease;
}

div.banner-text div.ib {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 160px;
    line-height: 120px;
    font-weight: 800;
}

div.banner-text div.engineering {
    width: 80%;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 4px;
    font-weight: 800;
}

div.banner-text h1 {
    width: 100%;
    margin: 0;
    padding: 40px 10px;
    font-size: 16px;
    line-height: 16px;
}


/* about */
section#about {
    background-color: #333;
    color: #ccc;
}

section#about div.section-content.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section#about div.about-card {
    width: 30%;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    padding: 1em;
    border-bottom: 4px solid #000;
    border-top: 4px solid #000;
}

section#about div.card-title {
    width: 50%;
    text-align: end;
    color: #43bbe7;
    text-wrap: nowrap;
}

section#about div.card-content {
    width: 50%;
}

/* solutions */
section#solutions {
    background-color: transparent;
    color: #000;
    position: relative;
    overflow: hidden;
}

section#solutions::before {
    position: absolute;
    width: 100%;
    height: 50%;
    content: '';
    background: rgba(102, 102, 102, 0.5);
    background: -webkit-linear-gradient(rgba(102, 102, 102, 0.5), transparent);
    background: -ms-linear-gradient(rgba(102, 102, 102, 0.5), transparent);
    background: -moz-linear-gradient(rgba(102, 102, 102, 0.5), transparent);
    background: linear-gradient(rgba(102, 102, 102, 0.5), transparent);
}

section#solutions::after {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    content: '';
    background: rgba(102, 102, 102, 0.5);
    background: -webkit-linear-gradient(transparent, rgba(102, 102, 102, 0.5));
    background: -ms-linear-gradient(transparent, rgba(102, 102, 102, 0.5));
    background: -moz-linear-gradient(transparent, rgba(102, 102, 102, 0.5));
    background: linear-gradient(transparent, rgba(102, 102, 102, 0.5));
}



section#solutions div.section-content.solutions {
    height: 16em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section#solutions div.solutions-card {
    position: relative;
    height: inherit;
    width: 25%;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 0 .2em #000;
    transition-duration: .3s;
    z-index: 10;
}

section#solutions div.solutions-card:nth-of-type(1) {
    background-image: url('../images/services1-compressed.jpg');
    background-size: 150%;
}

section#solutions div.solutions-card:nth-of-type(1):hover {
    background-size: 160%;
}

section#solutions div.solutions-card:nth-of-type(2) {
    background-image: url('../images/services2-compressed.jpg');
    background-size: 120%;
}

section#solutions div.solutions-card:nth-of-type(2):hover {
    background-size: 130%;
}

section#solutions div.solutions-card:nth-of-type(3) {
    background-image: url('../images/services3-compressed.jpg');
    background-size: 180%;
}

section#solutions div.solutions-card:nth-of-type(3):hover {
    background-size: 190%;
}

section#solutions div.card-text-wrapper {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3a3ab9;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: .75s ease;
}

section#solutions h1.card-title {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #43bbe7;
}

section#solutions div.card-content {
    width: 80%;
    height: 55%;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    border-top: 2px solid #43bbe7;
    color: #ddd;
}

/* solutions graphic - unused*/
div.pipe-graphic {
    position: absolute;
    border-radius: 3em;
    border: 1em solid #ccc;
    z-index: -100;
}

div.pipe-graphic.one {
    width: 60%;
    height: 40%;
    left: -10%;
    bottom: -10%;
    box-shadow: inset 0 0 0.5em 0.5em #666;
}

div.pipe-graphic.two {
    width: 80%;
    height: 60%;
    right: -10%;
    top: -10%;
    box-shadow: 0 0 0.5em 0.5em #666;
}

div.pipe-graphic.three {
    width: 30%;
    height: 90%;
    right: -10%;
    bottom: -10%;
    box-shadow: inset -0.5em 0 0.5em 0.5em #666, 0 0.5em 0.5em 0.5em #666;
}

/* services */
section#services {
    background-color: #333;
    color: #ccc;
}

section#services div.section-content.services {
    height: 16em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section#services div.services-card {
    position: relative;
    height: inherit;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 4px solid #666;
    box-shadow: 0 0 8px #000;
    border-radius: 2em;
}

/* section#services div.services-card::before {
    position: absolute;
    width: 40%;
    height: 40%;
    top: -20%;
    left: 30%;
    content: '';
    background-color: #333;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
} */

section#services div.services-card:nth-child(1)::before {
    background-image: url('../images/icons/icon-pipe.svg');
}

section#services div.services-card:nth-child(2)::before {
    background-image: url('../images/icons/icon-fan.svg');
}

section#services div.services-card:nth-child(3)::before {
    background-image: url('../images/icons/icon-aircon.svg');
}

section#services h1.card-title {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #43bbe7;
}

section#services div.card-content {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}

/* team */
/* section#team {
    background: url(../images/secondary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-bottom: 0;
}

div.team-section-wrapper {
    height: 100%;
    width: inherit;
    padding-bottom: 4em;
    backdrop-filter: blur(4px) contrast(200%);
    background-color: #4444447e;
}

section#team div.section-content {
    height: 16em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section#team div.team-card {
    position: relative;
    height: inherit;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: white;
    color: #333;
    border-radius: 16px;
} */

section#contact {
    background: #43bbe7e7;
    color: #333;
    padding-bottom: 2em;
}

section#contact div.section-content {
    height: fit-content;
}

div.company-information {
    height: fit-content;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2em;
    border-bottom: 2px solid #333;
}

div.details {
    box-sizing: border-box;
    width: 40%;
    padding: 1em;
}

div.information-wrapper {
    width: 100%;
    padding: 1em;
}

div.information-wrapper div:nth-of-type(1) {
    color: #666;
    padding-bottom: .2em;
}

div.information-wrapper div a {
    color: #333;
    text-decoration: none;
}

div.information-wrapper div a:hover {
    color: #000;
}

div.map {
    box-sizing: border-box;
    height: 24em;
    width: 60%;
    padding: 1em;
}

div#map {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 4px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

iframe {
    z-index: 200;
}

/* iframe {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 4px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

form {
    height: inherit;
    width: 80%;
    margin: auto;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1em;
    font-weight: 600;
}

div.form-left {
    box-sizing: border-box;
    width: 40%;
    padding: 1em;
}

div.form-right {
    box-sizing: border-box;
    width: 60%;
    padding: 1em;
}

label {
    display: block;
    width: 100%;
    padding-top: 1em;
    padding-bottom: .25em;
    padding-left: .5em;
    font-weight: 200;
    color: #666;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 2em;
    padding: .5em;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: .5em;
    transition: .2s;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 12em;
    padding: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: .5em;
    transition: .2s;
    resize: none;
}

textarea:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ddd;
    outline: none;
}

div#response-message {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    padding: 1em;
}

button.submit-btn {
    padding: 8px;
    width: 5em;
    height: 3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    color: #000;
    background-color: #eee;
    border-radius: 2em;
    border: none;
    box-shadow: 0 0 3px #000;
    transition: .2s;
}

button.submit-btn:hover {
    background-color: #fff;
    box-shadow: 2px 2px 6px #000;
}

.grecaptcha-badge {
    visibility: hidden;
}

/* footer */
div#footer {
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: #ccc;
    background-color: #333;
    font-size: .8em;
    font-weight: 100;
}

div#footer a {
    color: #999;
    transition: .2s;
    text-decoration: none;
}

div#footer a:hover {
    color: #ccc;
}

/* lg */
@media screen and (min-width: 1008px) {

    section {
        padding-bottom: 8em;
    }

    section#banner {
        height: 32em;
    }

}

/* md */
@media screen and (min-width: 801px) and (max-width: 1007px) {

    body {
        font-size: 0.8em;
    }

    section {
        padding-bottom: 6em;
    }

    section#banner {
        height: 26em;
    }



}

/* sm */
@media screen and (max-width: 800px) {

    section {
        padding-bottom: 4em;
    }

    section#banner {
        height: 16em;
    }

    div.banner-decor.two,
    div.banner-decor.three {
        display: none;
    }

    div.banner-text h3 {
        padding: 10px 10px;
    }

    section#about div.section-content.about {
        flex-direction: column;
        align-items: center;
    }

    section#about div.about-card {
        width: 80%;
        border-bottom: none;
    }

    section#solutions div.section-content.solutions {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    section#solutions div.solutions-card {
        position: relative;
        height: 18em;
        width: 70%;
        margin-bottom: 2em;
    }

    section#services div.section-content.services {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    section#services div.services-card {
        position: relative;
        height: 18em;
        width: 70%;
        margin-bottom: 4em;
    }

    section#services div.services-card::before {
        width: 20%;
        height: 20%;
        top: -10%;
        left: 40%;
        background-size: 70%;

    }

    div.details {

        width: 100%;

    }

    div.map {
        box-sizing: border-box;
        height: 24em;
        width: 100%;
        padding: 1em;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    div.form-left {
        padding-bottom: 0;
        width: 100%;
    }

    div.form-right {
        padding-top: 0;
        width: 100%;
    }

    button.submit-btn {
        margin-top: auto;
    }

    div#footer {
        font-size: .7em;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}